
.rows {
    min-height: 100px;
    text-align: center;
}

.rows button {
   width: 50%;
   background-color: white;
   color: #3aafa9;
   border-color: #3aafa9;
   font-size: 20px;
}

.rows button:hover {
    background-color: #3aafa9;
    transition: 0.5s;
}