

.left h2 .reset-img{
    opacity: 80%;
    max-width: 25%;
}

.reset-error{
    background-color: rgb(155, 236, 73);
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    display: none;
}