img{
    width: 150;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}

#my_header {
    display:table;
    margin:auto; 
}
#my_header div {
    display:table-cell;
}