html {
  box-sizing: border-box;
}
*, *:before, *:after {

  box-sizing: inherit;
}

.footer-container{
  margin-top: 130px;
  padding: 90px 150px;

  color:white;
  background-color: #3aafa9;
}

.footer-container .contact{
  display: flex;
  align-items: center;
}
.footer-container .contact figcaption a{
   text-align: center;
   color:white;
}

.footer-container .contact img{
  display: inline;
  height: 25px;
  width: 25px;
  margin: 2px 10px ;
}

















/* .footer {
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color:white;
    background-color: #3aafa9;
  }
  
  .footer-social-media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footer-info  {
    display: flex;
    justify-content: center;
  }
  
  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
  }
  
  .footer-info__name, .footer-info__email, .footer-info__number {
    margin-bottom: 10px;
  }
  
  .footer-info__name, .footer-info__returns {
    text-align: start;
  }
  
  .footer-info__email, .footer-info__terms {
    text-align: center;
  }
  
  .footer-info__number, .footer-info__contact {
    text-align: end;
  }
  
  .footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
     width: 100%;
  }
  
  .footer-name {
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
    margin: 0px 20px;
  } */