
.footer-container{
  bottom: 0;

  margin-top: 50px;
  padding: 50px 30vh;

  
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  
}

.footer-container  > * {
  width: 50%;
}

.footer-container .aboutrecommerce{
  max-height: 150px;
  display: inline-block;
}


.footer-container .about-us{
  font-size: 13px;
  line-height: .1;
  font-style: italic;
}

.footer-container .title{
  display: block;
  margin-top: 25px;

  padding-left: 5px;
  border-left: 6px solid black;
  color: black;
  font-size: 13px;
  font-weight: 500;

  margin-bottom: 10px;
}

.footer-container .content{
  display: block;
  padding-left: 20px;
  margin-bottom: .5rem;
  margin-left: 5px;
  
  color: white;
}

.footer-container .content:hover{
  border-left: 6px solid white;
  cursor: pointer;
  background-color: rgba(141, 140, 140, 0.554);
}

.reserved{
  padding: 25px 50px;

  background-color: #267973;
  color: rgb(29, 29, 29);

  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1200px) {

  .footer-container{
    padding: 50px 50px;
  }

}

@media only screen and (max-width: 500px) {

  .footer-container{
    flex-direction: column;
  }

}

