

.home-top{
    min-height: 350px;
    background-image: url("./FIND.jpg");
    background-size: cover;
    display: flex;
}

.home-top-sell{
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.904);

    border-radius: 25px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-top-sell h5{
    opacity: 100%;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    color: #3aafa9;
}

.home-top-sell button{
    border-radius: 30px;
    padding: 1% 20%;
    background-color: #3aafa9;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-top-sell button:hover{
    background-color: #3aafa9a4;
    font-weight: 600;

}

.home-bottom {
    color: #3aafa9 ;
}

.home-cards{
    display: flex;
}

.home-bottom .how-title{
    padding: 2%;
    font-weight: lighter;
}


.home-bottom-how{
    outline: 1px solid black;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 30px;
    min-height: 300px;
    display: flex;
    flex-direction:column;
    align-self: center;
    
}


.home-bottom-how img{
    width: 200px;
    height: auto;
    margin-top: auto;
}

.home-bottom-how .home-bottom-title{
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
}

.home-bottom-how  .home-bottom-description{
 color: rgb(122, 122, 122);
}




@media only screen and (max-width: 1100px) {
    .home-cards{
        flex-direction: column;
    }

    .home-bottom-how{
        width: 50%;
    }
  } 

  @media only screen and (max-width: 800px) {


    .home-bottom-how,.home-top-sell{
        width: 90%;
    }

  } 

































/* .top
{
 background-image: url("./FIND.jpg");
 height: 400px;
 object-fit:fill;
 position: relative;
 margin-bottom: 0px;
 margin-top: 0px;
 background-repeat: no-repeat;
 width: 100%;
}

.SD
{
  width: 28%;
  padding: 10px;
  background-color: white;
  border: transparent;
  position: absolute;
  margin-top: 125px;
  margin-left: 550px;
}

.SD h5
{
 color: #3aafa9;
 font-size: xx-large;
 font-family: 'Times New Roman', Times, serif;
 font-style: normal;
 margin-left: auto;
 margin-right: auto;
}

.set
{
    font-size: 60px;
    font-weight: lighter;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #3aafa9 ;
}

.SD button
{
    background-color: #3aafa9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 75px;
    position: relative;
    margin-top: 20px;
}

.box-set 
{
    
}
.box 
{
    background: white;
    float: left;
    margin: 1.858736059%;
    width: 29.615861214%;
    height: 10%;
    size: fixed;
    border: 5px solid #3aafa9;
    display:block;
    overflow: hidden;
}

.box h2 
{
    text-align: center;
    font-weight: lighter;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #3aafa9 ;
}

.box h5
{
    font-family: 'Times New Roman', Times, serif;
}
  
.box2
{
    background: white;
    float: left;
    margin-bottom: 20px;
    width: 35%;
    height: 10%;
    size: fixed;
    border: 5px solid #3aafa9;
    margin-left: 500px;
    margin-top: 30px;
    align-self: center;
} */