
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {

    box-sizing: inherit;
}


.test{
    display: inline-block;
}

.login-container{

    max-width: 350px;
    margin: auto auto;
    text-align: center;
    position: static;

    margin-top: 5%;

    padding: 30px;
    border: 1px solid rgb(179, 178, 178);
}

.login-title{
    font-family: 'Seymour One', sans-serif;
    margin: 0;
    padding: 5%;
    font-size: 26px;
    color:#3AAFA9;
}

.ip-group{
    padding: 5px;
}

.submitButton{
    width: 95%;
    border-radius: 4px ;
}


.login-container .forgot-password{
    margin-top: 20px;
    display: block;
    color: cornflowerblue;
}

.register {
    margin-top: 5px;
}



@media only screen and (max-width: 430px) {
    .login-container{
        border: none;
    }
    .register {
        margin-top: 0;
    }
    
  }
  
















/* 
.login-container {
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border: #707070 1px solid;
    width: 40%;
    padding: 10px;
}

.login-container figure  {
    margin-top: 40px;
    margin-bottom: 40px;
}

.login-container figure * {
    display:block;
}

.login-container figure figcaption{
    font-family: 'Seymour One', sans-serif;
    font-size: 5px;
    text-align: center;
    color:#3AAFA9;
}

.login-container figure img {
    margin: auto auto;
    width: 139px;
    height:125px ;
}


.login-container section {
    display: block;
    text-align: center;
    margin: auto auto;
}

.login-container section > * {
    display: inline-block;
    
    border:#BCE0FD 1px solid;
    padding: 10px;
}

.login-container section p {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial;
    width: 20%;
    background-color: #3AAFA9;
    text-align: left;
    color: white;
    
}

.login-container section input {
   
    font-size: 14px;
    width: 70%;
    padding-top: 6px;
    padding-bottom: 8px;
}


.login-container section input::placeholder {
    font-style: italic;
    opacity: 60%;
}


.login-container section input:focus{
    border: #3AAFA9 solid 1px;
    border-left: #3aafa9ad solid 1px;
    outline: none;
}


.login-container button, .submitButton{
   display: block;
   margin: auto auto;
   margin-top: 40px;
    border: #3AAFA9 solid 1px;
    background-color: #3AAFA9;
    padding: 5px 50px;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI' ;
}

.login-container button:hover{
    cursor: pointer;
    background-color: #49e2da;
    color: black
 }

.login-container article{
    color: rgb(124, 124, 124);
    margin-top: 20px;
    padding-left: 10px;
}

 .login-container article p {
    display: inline-block;
    color: rgb(10, 111, 243);
   
 }

 .login-container article p:hover {
    cursor: pointer;
    color: rgb(8, 55, 117);
   
 }

.login-error {
    color: red;
    text-align: center;
}

.forgot-password {
    text-align: center;
}  */  